.navbarstart {
    background-color: #D5BDAF;
}
a{
    font-family: 'Times New Roman', Times, serif ;
}

.card{
    background-color: #D6CCC2;
    margin-bottom: 2rem;
    max-width: 300px;
}

img{
    max-width: 300px;
    max-height: 300px;
}

#cart{
    position: fixed;
    width: 17rem;
    height: 100%;
}

.btn{
   font-size:larger; 

}

.cart{
    background-color: #E3D5CA;
}

