.navbarstart{
    background-color: #D5BDAF;
}

.card{
    background-color: #D6CCC2;
}

footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #F5EBE0;
}

a {
    font-family: 'Times New Roman', Times, serif;
}