.navbarstart {
    background-color: #D5BDAF;
}






.card{
   background-color: #D6CCC2;
}

.map-responsive {

    overflow: visible;

    padding-bottom: 56.25%;

    position: relative;

    height: 0;

}

.map-responsive iframe {

    left: 0;

    top: 0;

    height: 100%;

    width: 100%;

    position: absolute;

}

footer {

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background-color: #F5EBE0;
}

a {
    font-family: 'Times New Roman', Times, serif;
}